body {
  background-image: url('background.png');
  background-size: cover;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
  color: #5d1366;
  text-align: center;
}

h3 {
  font-family: 'Do Hyeon', sans-serif;
  color: #b15eba;
  text-align: center
}

label {
  font-family: 'Do Hyeon', sans-serif;
}


.jumbotron {
  background: none;
  text-align: center;
}

input {
  text-align: center;
}
