<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

{% extends "base.html" %}

{% block content %}
    <h1>Pokemon Battles Start HERE!!!</h1>
    {# create a jumbotron for the form #}
    <div class="jumbotron jumbotron-fluid">
      <h3>Pick your Pokemons! First Poke moves first!</h3>
      <br>
      <form action="/battleStage" method="post">
        <label for="first">First Poke</label>
        <select id = 'first' type="text" name="pokeFirst">
          {% for poke in pokeList %}
            <option>{{poke}}</option>
          {% endfor %}
        </select>

        <label for="second">Second Poke</label>
        <select style = 'width:auto' id = 'second' type="text" name="pokeSecond">
          {% for poke in pokeList %}
            <option>{{poke}}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" class = 'btn btn-primary' name="stage"> To Stage! </button>
      </form>
    </div>
{% endblock %}
